@import '../variables';

.quoteContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    text-align: center;
    min-height: 30vh;
    max-width: 100vh;
    
    .header {
        color: $c-primary-font-color;
    }

    .quoteBody {
        background-color: $c-secondary;
        border-radius: 1.5em;

        .quoteText {
            margin: 2em;
            color: $c-secondary-font-color;
        }

        .button {
            border-color: red;
            margin-bottom: 1.5em;
        }
    }
}