$primary: #e0342b;
$secondary: #f3b842;

$quoteBG: #fff;

body {
  background: $primary;
}

.quoteContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
    color: $quoteBG;
  }

  .quoteBody {
    background-color: $quoteBG;
    border-radius: 1em;
    width: 40em;

    .quoteText {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      font-weight: 500;
      margin: 2em;
      min-height: 10em;
      color: $primary;
      animation: fadeIn ease 2s;

      div {
        font-weight: 300;
        padding: 1em;
        text-align: right;
      }
    }

    .buttonContainer {
      margin: 1em;
      justify-content: right;
      text-align: right;

      button {
        font-weight: 700;
        background-color: $primary; /* Green */
        border-color: transparent;
        border-radius: 1em;
        color: $quoteBG;
        outline: none;
        padding: 0.75em;
        margin: 0.5em;
        text-align: center;
        transition-duration: 0.4s;

        &:hover {
          background-color: $secondary;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
