$primary: #e0342b;
$secondary: #f3b842;

$bg: #fff;

body {
  background: $primary;
  font-family: 'Roboto', sans-serif;
  
}

.quoteContainer {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & .title {
    font-size: 2em;
    font-weight: bold;
    color: $bg;
  }

  & .loading {
    margin-top:1em;
    animation: fadeIn ease 3s;
    font-size: 1.5em;
    font-weight: bold;
    color: $bg;
  }

  & .quoteBody {
    background-color: $bg;
    border-radius: 1em;

    & .quoteText {
      font-family: 'Open Sans', sans-serif;
      font-weight: 500;
      color: $primary;
      animation: fadeIn ease 2s;

      & div {
        font-weight: 400;
      }
    }

    & .buttonContainer {

     & button {
        font-weight: 700;
        background-color: $primary; /* Green */
        border-color: transparent;
        border-radius: 1em;
        color: $bg;
        outline: none;
        text-align: center;
        transition-duration: 0.4s;

        &:hover {
          background-color: $secondary;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
